html,
body {
  height: 100%;
}

#main-content {
  height: calc(100vh - 56px) !important;
  overflow-y: scroll;
}

.card {
  align-items: center;
  width: 17rem;
  margin: 1rem;
  position: relative;
  text-align: center;
}
